<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Feedbook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy  useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogAppender" />
    </root>

    <appender name="LogAppender" type="Feedbook.Logging.LogAppender, Feedbook">
      <threshold value="DEBUG"/>
    </appender>
  </log4net>
  <userSettings>
    <Feedbook.Properties.Settings>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LaunchAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanDownload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CanDownloadPodcast" serializeAs="String">
        <value>True</value>
      </setting>
    </Feedbook.Properties.Settings>
  </userSettings>
</configuration>
