* {
    margin: 0;
    padding: 0;
}

body {	
    background: -moz-linear-gradient(center top , white, whitesmoke) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke)) fixed;
	filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=whitesmoke)";
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=whitesmoke)";
    color: #333333;
    font-family: calibri,arial,sans-serif;
    height: 100%;
}

a {
    color: #4aa0c6;
    text-decoration: none;
	text-shadow: 0 0 0.3px #4ccded;
}

a:hover {
    color: #4ccded;
}

p {
	font-size: 10pt;
}

h1 {
    font-size: 23pt;
    color: #EEEEEE;
    text-shadow: 0 -1px 1px #EEEEEE;	
    font-weight: bold;
}

h2 {
	font-size: 20pt;
/*    text-shadow: 0 0px 1px #1d1d1d; */
    font-weight: bold;
    margin-bottom: 5px;
}

h3 {
	color: #b2b2b2;
	font-size: 10pt;
	font-weight: bold;	
}

hr {
	color: #333333;
	size: 1;
	noshade: noshade;
}

li {
	list-style-type: none;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 4px #EEEEEE;
    color: #666666;
    padding: 3px 5px;
}

#root {
    min-height: 100%;
    margin-bottom: -81px;
}

#menu {
    background: transparent url("../images/bg-menu.gif") repeat-x top center; 
    width: 100%;
    height: 86px;
    box-shadow: 0 0 9px #333333; 
}

#menu-in {
  	background: transparent url("../images/bg-menu-main.gif") no-repeat top center; 
    margin: 0 auto;
    width: 960px;
    height: 86px;
    padding-top: 35px;
}

#root {
}

#index-content {
/*	height: 500px;*/	
/*	color: #f7f6f6;*/	
}

#content {
    width: 960px;
    margin: auto;
    margin-top: 20px;
}

#trend-sources {
	min-height: 250px;
	text-shadow: 0 0 0.3px #4CCDED;
}
  
#trend-sources:hover {
	display: block;	
}

.display-class {
	display: block !important;
}

.amount {
  	font-size: large;
    padding: 6px;
    text-align: right;
    width: 30px;
}
 
.download {
	background-color: #191B1C;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4x;
    border-radius: 4px;    
	padding: 15px;
	float: left;
	width: 320px;
	margin-top: 30px;	
	box-shadow: 0 0 6px #333333;
}

.download a {
	color: #b2b2b2;
}

.download a:hover {
	color: #f7f6f6;
}

.system-requirements {
	color: #EEEEEE;
	float: right; 
	border-left: 1px solid #333333;
	padding: 10px 0px 20px 10px;	
	height: 100%;
} 

.donate-button2 {
	background-color: #444444;
    background-image: -moz-linear-gradient(center top , #444444, black);	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
    border: 0 none;
    border-radius: 10px 10px 10px 10px;
    color: whitesmoke;
    font-size: xx-large;
    padding: 13px;
    text-shadow: 0 0 2px whitesmoke;
    width: 225px;
    cursor: pointer;
    box-shadow: 0 0 4px #333333;
}

.download-button {
	background-color: #4AA0C6;
	background-image: -moz-linear-gradient(center top , #4AA0C6, #1070AA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4AA0C6), to(#1070AA));
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#4AA0C6', startColorstr='#1070AA', gradientType='0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AA0C6, endColorstr=#1070AA)";     
	color: white;
	box-shadow: 0 0 2px #4AA0C6;
	padding: 5px 10px;
	margin-top: 20px;
}

.seperator {
	background-color: #333333;
}

.menu-logo {
    background: url("../images/feedbook-logo.png") no-repeat transparent scroll left top;
    float: left;
    width: 64px;
    height: 64px;
	margin-top: -8px;
}

.menu-link-selected {
	/* background-image: -moz-linear-gradient(center top , black, #191C1C);	
	background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#191C1C)); */
	background-image: -moz-linear-gradient(center top , #4AA0C6, #1070AA);	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4AA0C6), to(#1070AA)); 
}

.menu-link-selected a {
    color: #EEEEEE;
	text-shadow: 0 0 4px #4ccded;
}

.menu-link-selected2 {
	background-image: -moz-linear-gradient(center top , #4AA0C6, #1070AA);	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4AA0C6), to(#1070AA)); 
}

.menu-link-selected2 a:hover {
	color: #EEEEEE;
}

.menu-links {
    font-family: Helvetica, Arial, sans-serif;
    color: #b2b2b2;
    font-weight: bold;
}

.menu-links li a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;	
	text-transform: uppercase; 	 
    font-weight: bold;
	text-shadow: none;
}

.menu-links li {
    float: left;
    margin-left: 7px;
    margin-top: 5px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;	
    border-radius: 14px;  
	padding: 1px 13px;
	
}

.teaser-content {
    float: left;
    font: 14px/20px calibri,Arial,sans-serif;
    padding-bottom: 15px;
}

.twitter-feeds {
    float: right;
    margin: 0px 10px 10px 10px;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
	border: 1px solid #EEEEEE;
	box-shadow: 0 0 4px #EEEEEE;
}

.follow-us-div {
    box-shadow: 0 0 5px #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 230px;
}

.follow-us-div li {
    font-weight: bold;
    list-style: none;
	margin-top: 10px;
}

.index-main-content
{
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #EEEEEE;
    box-shadow: 0 -4px 10px #EEEEEE;
    min-height: 600px;
    margin-right: 5px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 17px;
    padding-right: 15px;
    width: 800px;
}

.trends {
	font-size: 8pt;
    float: left;
    margin-left: 10px;
    margin-top: 14px;
    width: 125px;
	overflow: hidden;
}

.trends li {
	padding: 2px 0px;	
}

.trends li a{ 
	border-left: 1px solid transparent;
}


.trends-header {
	font-size: 12pt;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.trend-sources-header {
	font-size: medium; 
	color: whitesmoke;
	margin-bottom: 10px; font-weight: bold; 
	border-bottom: 1px solid whitesmoke;
	text-transform: uppercase;
}

.rss-add-class {
	float: left;
	font-size: small;
}

.rss-url-text {
    margin-right: 10px;
    width: 204px;
    font-size: 9pt;    
}

.loading {
	color: #4AA0C6;
/*	margin-left: 10px; */	
	text-shadow: 0 0 0.3px #4ccded; 
}

.feed-resources {	
    float: right;
}

.feed-resources-subscribe {
	color: #888888;
    float: right;
    font-size: 11pt;
    margin-right: 3px;
}

.feed-resources a:hover {
	color: white;
}

.feed-resources li {
 	float: left;        
}

.feed-resources li a { 	
    padding: 2px 10px;    
    margin-right: 1px; 
}

.feed-resources li ul {
  margin-top: 2px;
  z-index: 1;
}

.feed-resources-li-a-hover a {	
	background-color: #4AA0C6;
	background: -moz-linear-gradient(center top , #4AA0C6, #1070AA) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(#4AA0C6), to(#1070AA)) fixed;
	filter: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#4AA0C6', startColorstr='#1070AA', gradientType='0');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AA0C6, endColorstr=#1070AA)";     
	color: white;
	box-shadow: 0 0 2px #4AA0C6;	
}

.feed-links {	
	background-color: #4AA0C6;
    background: -moz-linear-gradient(center top , #4AA0C6, #1070AA) fixed;
	background: -webkit-gradient(linear, left top, left bottom, from(#4AA0C6), to(#1070AA)) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4AA0C6', endColorstr='#1070AA');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AA0C6, endColorstr=#1070AA)";
    display: none;   
    padding: 10px 50px 20px 10px;
    position: absolute;
    box-shadow: 0 0 2px #4AA0C6;    
}

.feed-links a {
	background: none;	
	box-shadow: none;
	color: whitesmoke !important;
}

.feed-links a:hover {
	/*color: whitesmoke !important; */
	box-shadow: none !important;
	text-decoration: underline;
}

.feed-links:hover { 	
	display: block;		
}

.feed-links li {
	float: left;
	padding: 2px
}

.feed-sub-links {
	box-shadow: none;    
	margin-left: 10px;
	font-size: small; 
}

.feed-sub-links li {
	float: none;
}

.feed-sub-links:hover {
	box-shadow: none;    
}

.feed-sub-links li:hover {
	box-shadow: none;    
}

.side-bar-left {
	
}

.page-area {
	margin-left: auto;
    margin-right: auto;
    width: 1260px;
}

.show-class {
	display: block;
}

.vseperator-hr {
   	color: #CCCCCC;
    float: left;
    height: 13px;
    margin: 4px 0 0 0;
    opacity: 0.5;
    width: 0.5px;
}

.tell-us {
	font-size: 10pt;	
}

.tell-us hr {
	margin-top: 2px;
}
