/* DEFAULTS
----------------------------------------------------------*/

*
{
    margin: 0px;
    padding: 0px;
}

a
{
    font-family: Helvetica, Arial, sans-serif;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

body
{
    color: #535353;
    font-size: 10pt;
    background: #F7F6F6;
    font-family: Helvetica, Arial, sans-serif;
}

h1
{
}

h2
{
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 0 -1px 1px #1D1D1D;
}

fieldset
{
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset p
{
    margin: 2px 6px 10px 5px;
}

legend
{
    font-weight: bold;
}

.page
{
}

.header
{
    color: #F7F6F6;
    background: #535353;
    background: url("../images/bg-menu.gif") repeat-x scroll center top transparent;
    padding-bottom: 13px;
}

.title
{
    float: left;
    height: 40px;
    margin-right: 70px;
    margin-top: 22px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 21px;
    text-shadow: 0 -1px 1px #F7F6F6;
}

.menuSection
{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 75px;
    padding-top: 10px;
    background: url("../images/bg-menu-main.gif") repeat-y scroll center top transparent;
}

.menuSection a
{
    line-height: 34px;
    color: #b2b2b2;
    text-shadow: 0 -4px 1px #1d1d1d;
    font-weight: bold;
}

.menuSection li a
{
    font-size: 12pt;
    text-transform: uppercase;
}

.menuSection a:hover
{
    color: #f7f6f6;
}

.menu
{
    float: left;
    margin-top: 42px;
}

.menu li
{
    float: left;
    list-style-type: none; 
    margin-left: 20px;
}

.login
{
    font-size: 10pt;
    /* margin-top: 42px; */
    text-align: right;
}

.login a
{
    font-size: 9pt;
}

.main
{
    clear: both;
    width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
    margin: 4px;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

.submitButton
{
    text-align: right;
}

.failureNotification
{
    color: Red;
    font-size: 10pt;
}

.failureNotification ul
{
    list-style-type: none;
}

.failureNotification li
{
    margin-top: 5px;    
}

.errorNotification
{
    color: Maroon;
    font-weight: bold;
}

.messageNotification
{
    color: Green;
}

.hint
{
    color: Gray;
    font-size: 8pt;
    font-style: italic;
}

.teaser-content {
    font: 13px/20px Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.accountInfo 
{
    width: 350px;
}