<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="Default-Db" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=Feedbook"/>
	</connectionStrings>
	<!--F66db00kU$er-->
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="60"/>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
